{% vue Counter %}
    {% props %}
        {% set initialCount = 99 %}
    {% endprops %}
    <h1 class="text-center">{% mask %}...{% then %}{ count }{% endmask %}</h1>
    <div class="d-flex justify-content-center gap-2">
        <button @click="dec" class="btn btn-primary">-</button>
        <button @click="inc" class="btn btn-primary">+</button>
    </div>
{% endvue %}

import {ref} from "vue";

export default {
    name: 'Counter',
    props: ['initialCount'],
    setup(props) {
        let count = ref(props.initialCount);
        const inc = () => count.value++;
        const dec = () => count.value--;
        return {count, inc, dec};
    }
};
{% endblock %}
